@model IEnumerable<Question>
@{
    ViewData["Title"] = "Question";
}

<div class="question">
    <div class="question-head">
        <p><i class="fa fa-question"></i>نظر سنجی</p>
    </div>
    @if (!Model.Any())
    {
        <div class="question-text">

            <p>نظر سنجی های ما اینجا قرار میگیرد</p>
        </div>

    }
    else
    {
        @foreach (var item in Model.Take(1))
        {
            <div class="question-text">

                <p style="line-height: 20px; word-break: break-word; text-align: justify;">@item.QuestionText</p>
            </div>


            <div class="question-check">
                <h2>خوبه</h2>
                <h2>نه جالب نیست</h2>
            </div>
        }
    }
</div>
