
@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="prof-main">
    <div class="head-pro">
        <img src="~/SiteTemplate/Image/metal_gear_solid_v_the_phantom_pain-1920x1080.jpg" alt="">
        <div class="profiles">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <div class="chang-pro">
                <a href="#">عوض کردن پروفایل</a>
            </div>
            <div class="name-pro">
                <h1>علی</h1>
            </div>
        </div>
        <div class="change-backimg">
            <a href="#"><i class="fa fa-picture-o"></i> عکس بنر را ویرایش کنید </a>
        </div>
        <div class="faloow">
            <h1>دنبال کنید</h1>
            <p>1200 دنبال کننده</p>
        </div>
    </div>
</div>
<div class="head-maiin">
    <div class="list-active">
        <h2>
            پست ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            دنبال کننده ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            ذخیره شده ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            درباره
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
</div>
<!-- <div class="posts">
    <div class="post-list col-md-4 col-sm-12 col-12">
        <img src="~/SiteTemplate/Image/code-wallpaper-14.jpg" alt="">
        <div class="post-info">
            <p><span>نوع : </span> شعر</p>
            <p><span>نام : </span> شعر</p>
            <p><span>موضوع : </span> شعر</p>
        </div>
        <div class="text">
            <p>این متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هست</p>
        </div>
        <div class="footer">
            <div class="left">
                <a id="update" href="#">ویرایش</a>
                <a id="delete" href="#">حذف</a>
            </div>
            <div class="right">
                <a href="#">ادامه مطلب</a>
            </div>

        </div>
    </div>
    <div class="post-list col-md-4 col-sm-12 col-12">
        <img src="~/SiteTemplate/Image/code-wallpaper-14.jpg" alt="">
        <div class="post-info">
            <p><span>نوع : </span> شعر</p>
            <p><span>نام : </span> شعر</p>
            <p><span>موضوع : </span> شعر</p>
        </div>
        <div class="text">
            <p>این متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هست</p>
        </div>
        <div class="footer">
            <div class="left">
                <a id="update" href="#">ویرایش</a>
                <a id="delete" href="#">حذف</a>
            </div>
            <div class="right">
                <a href="#">ادامه مطلب</a>
            </div>

        </div>
    </div>
    <div class="post-list col-md-4 col-sm-12 col-12">
        <img src="~/SiteTemplate/Image/code-wallpaper-14.jpg" alt="">
        <div class="post-info">
            <p><span>نوع : </span> شعر</p>
            <p><span>نام : </span> شعر</p>
            <p><span>موضوع : </span> شعر</p>
        </div>
        <div class="text">
            <p>این متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هست</p>
        </div>
        <div class="footer">
            <div class="left">
                <a id="update" href="#">ویرایش</a>
                <a id="delete" href="#">حذف</a>
            </div>
            <div class="right">
                <a href="#">ادامه مطلب</a>
            </div>

        </div>
    </div>
    <div class="post-list col-md-4 col-sm-12 col-12">
        <img src="~/SiteTemplate/Image/code-wallpaper-14.jpg" alt="">
        <div class="post-info">
            <p><span>نوع : </span> شعر</p>
            <p><span>نام : </span> شعر</p>
            <p><span>موضوع : </span> شعر</p>
        </div>
        <div class="text">
            <p>این متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هست</p>
        </div>
        <div class="footer">
            <div class="left">
                <a id="update" href="#">ویرایش</a>
                <a id="delete" href="#">حذف</a>
            </div>
            <div class="right">
                <a href="#">ادامه مطلب</a>
            </div>
        </div>
    </div>
    <div class="post-list col-md-4 col-sm-12 col-12">
        <img src="~/SiteTemplate/Image/code-wallpaper-14.jpg" alt="">
        <div class="post-info">
            <p><span>نوع : </span> شعر</p>
            <p><span>نام : </span> شعر</p>
            <p><span>موضوع : </span> شعر</p>
        </div>
        <div class="text">
            <p>این متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هستاین متن ساختگی هست این متن ساختگی هست</p>
        </div>
        <div class="footer">
            <div class="left">
                <a id="update" href="#">ویرایش</a>
                <a id="delete" href="#">حذف</a>
            </div>
            <div class="right">
                <a href="#">ادامه مطلب</a>
            </div>

        </div>
    </div>
</div> -->
<div>
    <div class="falow-me">
        <h2>
            دنبال کننده های شما
        </h2>
        <div class="falow-me-list">
            <img src="~/SiteTemplate/Image/male-user-profile-picture_318-37825.jpg" alt="">
            <a href="#">علیزضا</a>
            <div class="tools">
                <a id="visit-falow" href="#">مشاهده پروفایل</a>
                <a id="delete-falow" href="#"> حذف از دنبال کنندها</a>
            </div>
        </div>
        <div class="falow-me-list">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <a href="#">علیزضا</a>
            <div class="tools">
                <a id="visit-falow" href="#">مشاهده پروفایل</a>
                <a id="delete-falow" href="#"> حذف از دنبال کنندها</a>
            </div>
        </div>
        <div class="falow-me-list">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#">علیزضا</a>
            <div class="tools">
                <a id="visit-falow" href="#">مشاهده پروفایل</a>
                <a id="delete-falow" href="#"> حذف از دنبال کنندها</a>
            </div>
        </div>
    </div>
</div>
