@model AddPostTextViewModel
@{
    ViewData["Title"] = "ویرایش پست";
}

<div class="main-text-list col-md-8 col-sm-12 back-white padding-10" style="height:100%">
    <form asp-action="EditPostText" class="back-white padding-10" style="height:100%" enctype="multipart/form-data">
        <h1 class="text-center" style="margin-bottom:10px">ویرایش پست</h1>
        <input type="hidden" asp-for="postText.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label padding-10">گروه را انتخاب کنید</label>
            <select class="form-control" asp-for="postText.Groups.Name">
                @foreach (var item in Model.groups)
                {
                    <option>@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label padding-10">تصویر (اختیاری) :</label>
            <input type="file" id="input-file-now" name="image" class="form-control" />
            <img src="~/PostTextImages/@Model.postText.Image" width="100" height="100" alt="Alternate Text" />
            <h2 style="padding: 10px;margin-top: 10px;
            background: #1b1be1a6;border-radius: 10px">
                با انتخاب تصویر نوشته خود را زیبا کنید :)
            </h2>
        </div>
        <div class="form-group">
            <label class="control-label padding-10">موضوع یا نام :</label>
            <input asp-for="postText.Name" class="form-control" />
            <span asp-validation-for="postText.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label padding-10">متن کوتاه (توضیح کوتاه):</label>
            <input asp-for="postText.ShortText" class="form-control" />
            <span asp-validation-for="postText.ShortText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label padding-10">متن :</label>
            <textarea class="form-control text-box multi-line ckEditor" data-val="true" asp-for="postText.Text"></textarea>
            <span asp-validation-for="postText.Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="ویرایش" style="width:100%" class="btn btn-success" />
            <a asp-action="Index" asp-controller="Home" style="width:100%;margin-top:10px" class="btn btn-danger">انصراف</a>
        </div>
    </form>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_CkEditorPartial");}

}
