@{
    ViewData["Title"] = "هنر خانه";
}

<div class="main-text-list col-md-8 col-sm-12">
    <div class="text-list">
        <div class="top-pro">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#" id="name">پارسا</a>
            <a href="#" id="fallow">دنبال کنید</a>
        </div>
        <div class="main-text">
            <h1 class="text-center"style="margin-top:10px">نام داستان : <span>هیچی</span></h1>
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <p>
                <span style="color:#1b1be1a6"> نوضیح :  </span>
                این متن ساختگی است این متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی
                استاین متن ساختگی است
            </p>
        </div>
        <div class="main-footer">
            <a href="#" id="nvisande"><span>نویسدنده :</span> پارسا</a>
            <p><span>تاریخ ثبت :</span> 1399/1/27</p>
            <a href="#" id="bro">ادامه داستان</a>
        </div>
    </div>
    <div class="text-list">
        <div class="top-pro">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#" id="name">پارسا</a>
            <a href="#" id="fallow">دنبال کنید</a>
        </div>
        <div class="main-text">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <h1>نام داستان : <span>هیچی</span></h1>
            <h1>موضوع : <span>الکی</span></h1>
            <p>
                این متن ساختگی است این متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی
                استاین متن ساختگی است
            </p>
        </div>
        <div class="main-footer">
            <a href="#" id="nvisande"><span>نویسدنده :</span> پارسا</a>
            <p><span>تاریخ ثبت :</span> 1399/1/27</p>
            <a href="#" id="bro">ادامه داستان</a>
        </div>
    </div>
    <div class="text-list">
        <div class="top-pro">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#" id="name">پارسا</a>
            <a href="#" id="fallow">دنبال کنید</a>
        </div>
        <div class="main-text">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <h1>نام داستان : <span>هیچی</span></h1>
            <h1>موضوع : <span>الکی</span></h1>
            <p>
                این متن ساختگی است این متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی
                استاین متن ساختگی است
            </p>
        </div>
        <div class="main-footer">
            <a href="#" id="nvisande"><span>نویسدنده :</span> پارسا</a>
            <p><span>تاریخ ثبت :</span> 1399/1/27</p>
            <a href="#" id="bro">ادامه داستان</a>
        </div>
    </div>
    <div class="text-list">
        <div class="top-pro">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#" id="name">پارسا</a>
            <a href="#" id="fallow">دنبال کنید</a>
        </div>
        <div class="main-text">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <h1>نام داستان : <span>هیچی</span></h1>
            <h1>موضوع : <span>الکی</span></h1>
            <p>
                این متن ساختگی است این متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی
                استاین متن ساختگی است
            </p>
        </div>
        <div class="main-footer">
            <a href="#" id="nvisande"><span>نویسدنده :</span> پارسا</a>
            <p><span>تاریخ ثبت :</span> 1399/1/27</p>
            <a href="#" id="bro">ادامه داستان</a>
        </div>
    </div>
    <div class="text-list">
        <div class="top-pro">
            <img src="~/SiteTemplate/Image/person-icon-female-user-profile-avatar-vector-18833553.jpg" alt="">
            <a href="#" id="name">پارسا</a>
            <a href="#" id="fallow">دنبال کنید</a>
        </div>
        <div class="main-text">
            <img src="~/SiteTemplate/Image/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
            <h1>نام داستان : <span>هیچی</span></h1>
            <h1>موضوع : <span>الکی</span></h1>
            <p>
                این متن ساختگی است این متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی استاین متن ساختگی
                استاین متن ساختگی است
            </p>
        </div>
        <div class="main-footer">
            <a href="#" id="nvisande"><span>نویسدنده :</span> پارسا</a>
            <p><span>تاریخ ثبت :</span> 1399/1/27</p>
            <a href="#" id="bro">ادامه داستان</a>
        </div>
    </div>
</div>
