@model Offers
@{
    ViewData["Title"] = "پیشنهاد به ها";
}

<div class="main-text-list col-md-8 col-sm-12">
    <form action="/Home/AddOffers" method="post">
        <div style="padding: 10px;margin-bottom: 7px;background: white;border-radius: 6px;">
            @Html.Raw(ViewBag.Success)
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label id="Lable" class="control-label padding-10">پیشنهاد خور را با ما در میان بگذارید :</label>
                    <input type="text" id="input-file-now" style="border: 1px solid #1b1be1a6;" asp-for="OffersText" class="form-control" />
                    <p style="color:red">@ViewBag.Error</p>
                </div>
            }
            else
            {
                <p style=" text-align: center; padding: 20px; background: #1b1be1a6; color: white;">
                    لطفا برای نوشتن پیشنهاد وارد <a asp-action="Login" asp-controller="Account">اکانت</a> خود شوید
                </p>
            }

            <div class="form-group">
                @if (User.Identity.IsAuthenticated)
                {
                    <input type="submit" class="btn btn-success" style="width:100%" name="name" value="ارسال پیشنهاد" />
                }
                <a href="/" id="cancel" class="btn btn-danger" style="width:100%;cursor:pointer;margin-top: 10px;">بازگشت به سایت</a>
            </div>
        </div>
    </form>
</div>