@model IEnumerable<Groups>
@{
    ViewData["Title"] = "Navbar";
}
<div class="main-navbar">
    @foreach (var item in Model)
    {
        <div class="main-navbar-list">
            <a href="#">@item.Name </a>
        </div>
    }
    <div class="main-navbar-list">
        <a href="#">ارتباط باما</a>
    </div>
    <div class="main-navbar-list">
        <a href="#">پیشنهاد به ما</a>
    </div>
    <div class="main-navbar-text">
        <a href="/PostText/AddPost">نویسنده شو !</a>
    </div>
    <div class="main-navbar-e">
        <i onclick="openlist()" class="fa fa-align-justify"></i>
        <div class="lists" id="lists" style="display:none">
            <div class="s">
                <input id="search" type="text" placeholder="جست و جو در مطالب و کاربران">
                <div class="icon-search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="main-navbar-lists">
                    <a href="#">@item.Name </a>
                </div>
            }
            <div class="main-navbar-lists">
                <a href="#">ارتباط باما</a>
            </div>
            <div class="main-navbar-lists">
                <a href="#">پیشنهاد به ما</a>
            </div>

        </div>
    </div>
</div>


