
@{
    ViewData["Title"] = "Index";
}

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="row row-in">
                    <div class="col-lg-4 col-sm-6 b-r-none">
                        <ul class="col-in">
                            <li>
                                <span class="circle circle-md bg-info"><i class="ti-wallet"></i></span>
                            </li>
                            <li class="col-last"><h3 class="counter text-right m-t-15">@*@ViewBag.GameCount*@</h3></li>
                            <li class="col-middle">
                                <h4>کل بازی ها</h4>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6 row-in-br">
                        <ul class="col-in">
                            <li>
                                <span class="circle circle-md bg-success"><i class=" ti-shopping-cart"></i></span>
                            </li>
                            <li class="col-last"><h3 class="counter text-right m-t-15">@*@ViewBag.CommentCoun*@t</h3></li>
                            <li class="col-middle">
                                <h4>تعداد کامنت ها</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6 row-in-br">
                        <ul class="col-in">
                            <li>
                                <span class="circle circle-md bg-warning"><i class="fa fa-dollar"></i></span>
                            </li>
                            <li class="col-last"><h3 class="counter text-right m-t-15">@*@ViewBag.UserCount*@</h3></li>
                            <li class="col-middle">
                                <h4>تعداد کاربران</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
