<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>هنر خانه</title>
    <link rel="stylesheet" href="~/SiteTemplate/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/reset.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/Indexcss.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/Profile.css">
</head>

<body>
    <header class="">
        <div class="Header-logo col-md-4 col-sm-4">
            <img src="~/SiteTemplate/Image/Untitled.png" alt="هنر خانه">
        </div>
        <div class="Header-Search col-md-4 col-sm-4">
            <div class="s">
                <input id="search" type="text" onchange="GetValues(this)" placeholder="جست و جو در مطالب و کاربران">
                <div class="icon-search">
                    <a asp-controller="Home" asp-action="Search" id="SerchTexts" asp-route-text="">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div class="icon-exit">
                    <i id="serchclose" onclick="rmovetext(this)" style="display: none" class="fa fa-close"></i>
                </div>
            </div>

        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="profile col-md-4 col-sm-4">

                @*<div class="profile-use">
                    <i onclick="checkthenews()" class="fa fa-bell"></i>
                    <div class="profile-tedad">
                        <p>2</p>
                    </div>
                    <div class="profile-check" id="sk">
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                    </div>
                </div>*@
                <div class="profile-newtext">
                    <a href="/PostText/AddPost" alt="افزودن متن" title=" افزودن متن">بنویس !</a>
                </div>
            </div>
        }
        else
        {
            <div class="Header-login col-md-4 col-sm-4">
                <a asp-action="Login" asp-controller="Account" id="Login">ورود</a>
                <a asp-action="Register" asp-controller="Account" id="Rigester">ثبت نام</a>
            </div>

        }
    </header>
    <main class="container">
        @await Component.InvokeAsync("Navbar")
        <div class="main">
            <div class="main-arshiv-list  col-md-4 col-sm-12">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="profiles">

                        @await Component.InvokeAsync("User", ViewBag.UserId)
                    </div>
                }
                else
                {
                    <div class="profiles">
                        <div class="login">
                            <a asp-action="Login" asp-controller="Account">ورود</a>
                        </div>
                        <div class="register-box">
                            <a asp-action="Register" asp-controller="Account">ثبت نام</a>
                        </div>
                    </div>
                }
                <div class="Visit">
                    <div class="visit-head">
                        <h1><i class="fa fa-eye"></i> پر بازدید ترین </h1>

                    </div>
                    <div class="visit-main">
                        <div class="visit-text">
                            <a href="#">نام داستان : غروب</a>
                            <i class="fa fa-angle-double-left"></i>
                        </div>
                        <div class="visit-text">
                            <a href="#">نام داستان : غروب</a>
                            <i class="fa fa-angle-double-left"></i>
                        </div>
                        <div class="visit-text">
                            <a href="#">نام داستان : غروب</a>
                            <i class="fa fa-angle-double-left"></i>
                        </div>
                        <div class="visit-text">
                            <a href="#">نام داستان : غروب</a>
                            <i class="fa fa-angle-double-left"></i>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="question-head">
                        <p><i class="fa fa-question"></i>نظر سنجی</p>
                    </div>
                    <div class="question-text">
                        <p>نظرتون درباره افزودن قابلیت نوشتن متن گروهی چیست؟</p>
                    </div>
                    <div class="question-check">
                        <h2>خوبه</h2>
                        <h2>نه جالب نیست</h2>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </main>

    <script src="~/SiteTemplate/js/jquery-3.4.1.js"></script>
    <script src="~/SiteTemplate/js/bootstrap.min.js"></script>
    <script src="~/SiteTemplate/js//Index.js "></script>
    @RenderSection("Scripts", required: false)

</body>

</html>