
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پروفایل-هنر خانه</title>
    <link rel="stylesheet" href="~/SiteTemplate/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/reset.css">
    <link rel="stylesheet" href="~/SiteTemplate/css/Profile.css">
</head>

<body>
    <header class="">
        <div class="Header-logo col-md-4 col-sm-4">
            <img src="~/SiteTemplate/Image/Untitled.png" alt="هنر خانه">
        </div>
        <div class="Header-Search col-md-4 col-sm-4">
            <div class="s">
                <input id="search" type="text" placeholder="جست و جو در مطالب و کاربران">
                <div class="icon-search">
                    <i class="fa fa-search"></i>
                </div>
                <div class="icon-exit">
                    <i id="serchclose" onclick="rmovetext(this)" style="display: none" class="fa fa-close"></i>
                </div>
            </div>

        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="profile col-md-4 col-sm-4">

                <div class="profile-use">
                    <i onclick="checkthenews()" class="fa fa-bell"></i>
                    <div class="profile-tedad">
                        <p>2</p>
                    </div>
                    <div class="profile-check" id="sk">
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                        <div class="check-text">
                            <a href="#">علیرضا شمارا دنبال می کند</a>
                        </div>
                    </div>
                </div>
                <div class="profile-newtext">
                    <a href="/PostText/AddPost" alt="افزودن متن" title=" افزودن متن">بنویس !</a>
                </div>
            </div>
        }
        else
        {
            <div class="Header-login col-md-4 col-sm-4">
                <a asp-action="Login" asp-controller="Account" id="Login">ورود</a>
                <a asp-action="Register" asp-controller="Account" id="Rigester">ثبت نام</a>
            </div>

        }
    </header>
    <main class="container">
        @await Component.InvokeAsync("Navbar")
        @RenderBody()
    </main>


    <script src="~/SiteTemplate/js/jquery-3.4.1.js"></script>
    <script src="~/SiteTemplate/js/Profile.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>